.container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);

  /* alinea horizontalmente */
  justify-items: center;

  /* alinea verticalmente */
  align-items: center;
}

.container .item {
  background: orange;
  justify-self: stretch;
  align-self: flex-end;
}
